BasedOnStyle: LLVM
Standard: c++20
IndentWidth: 4
UseTab: Always
TabWidth: 4
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach
ColumnLimit: 0
AccessModifierOffset: -4
IndentCaseLabels: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
SortIncludes: true
PointerAlignment: Left
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignOperands: DontAlign
AllowShortBlocksOnASingleLine: Always
LambdaBodyIndentation: Signature
ContinuationIndentWidth: 4
AlignAfterOpenBracket: DontAlign
InsertBraces: true
BraceWrapping:
  AfterControlStatement: false
  AfterFunction: false
  AfterEnum: false
  AfterStruct: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
