#include <windows.h>
#include "version.h"

VS_VERSION_INFO VERSIONINFO
	FILEVERSION PAPERBACK_VERSION_MAJOR,PAPERBACK_VERSION_MINOR,PAPERBACK_VERSION_PATCH,PAPERBACK_VERSION_BUILD
	PRODUCTVERSION PAPERBACK_VERSION_MAJOR,PAPERBACK_VERSION_MINOR,PAPERBACK_VERSION_PATCH,PAPERBACK_VERSION_BUILD
	FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
	FILEFLAGS VS_FF_DEBUG
#else
	FILEFLAGS 0x0L
#endif
	FILEOS VOS_NT_WINDOWS32
	FILETYPE VFT_APP
	FILESUBTYPE VFT2_UNKNOWN
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904b0"
		BEGIN
			VALUE "CompanyName", "Quin Gillespie"
			VALUE "FileDescription", "Paperback Ebook and Document Reader"
			VALUE "FileVersion", PAPERBACK_VERSION_STRING_FULL
			VALUE "InternalName", "paperback"
			VALUE "LegalCopyright", "Copyright (C) 2025 Quin Gillespie"
			VALUE "OriginalFilename", "paperback.exe"
			VALUE "ProductName", "Paperback"
			VALUE "ProductVersion", PAPERBACK_VERSION_STRING_FULL
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x409, 1200
	END
END
